certifi==2020.12.5
chardet==4.0.0
configparser==5.0.1
docutils==0.16
idna==2.10
#Kivy==2.0.0
#kivy-deps.angle==0.3.0
#kivy-deps.glew==0.3.0
#kivy-deps.sdl2==0.3.1
#Kivy-examples==2.0.0
#Kivy-Garden==0.1.4
mysql==0.0.2
mysql-connector-python==8.0.22
mysqlclient==2.0.2
Pillow==8.0.1
protobuf==3.14.0
psycopg2==2.8.6
Pygments==2.7.3
#pypiwin32==223
#pywin32==300
requests==2.25.0
six==1.15.0
urllib3==1.26.2

logic~=0.2.3
django-key~=0.5.0
PyQt5~=5.15.2
mock~=4.0.3